fieldset {
    margin: 5%;
    border: 2px violet solid;
    border-radius: 20px;
    padding: 25px;
    position: relative;
   }

   body{
     /* background-image: url(); */
     background-color: blue;
   }

   body form{
    margin: 5%;
    border: 2px violet solid;
    border-radius: 20px;
    padding: 25px;
    position: relative;
   }
   form{
     background-color: red;
   }
   
   legend {
     background-color: rgb(255, 255, 255);
     color: blueviolet;
     font-size: 30px;
     padding: 10px;
     position: absolute; 
     top: -30px;
     left:20vh;
   }
   
   h1, div {
     margin: 20px;
   }
   
   #limpar {
     padding: 10px;
     margin: 10px;
     background-color: blueviolet;
     color: white;
     font-size: 20px;
     border: 0;
     border-radius: 30px;
     position: absolute;
     position:absolute;
     left:100%;
     margin-left:-110px;
    }
   #enviar{
    padding: 10px;
    margin: 10px;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    border: 0;
    border-radius: 30px;
    position:absolute;
		left:5%;
   }

